In [1]:
import pandas as pd

In [4]:
people = pd.read_csv('C:/Users/6106057/nss-data-analytics/projects/go_to_themoon/data/popluation_standard_compare_2010_2020.csv')

In [5]:
people.head()

,GEOID,state_code,state_abbr,state_name,2010_density,2010_diversity_index,2010_pop,2010_pop_hisp,2010_pop_white_non_hisp,2010_pop_black_non_hisp,...,prop_change_gq_inst_other,prop_change_gq_noninst,prop_change_gq_noninst_college,prop_change_gq_noninst_military,prop_change_gq_noninst_other,prop_change_hu,prop_change_hu_occupied,prop_change_hu_vacant,prop_change_land_area_sqmi,flag_prop_change_land_area
0,0400000US01,1,AL,Alabama,94.376646,48,4779736,185602,3204402,1244437,...,45.77,17.36,25.17,-49.86,3.87,5.36,6.80,-4.05,0.00,0
1,0400000US02,2,AK,Alaska,1.244620,56,710231,39249,455320,21949,...,-12.61,16.19,-21.37,15.45,21.89,6.27,4.30,16.65,0.07,0
2,0400000US04,4,AZ,Arizona,56.270686,57,6392017,1895149,3695647,239101,...,73.22,28.88,39.15,-17.17,26.58,8.35,13.65,-18.86,0.05,0
3,0400000US05,5,AR,Arkansas,56.037115,42,2915918,186050,2173469,447102,...,-44.49,9.08,11.36,19.71,0.12,3.72,4.56,-1.98,-0.08,0
4,0400000US06,6,CA,California,239.145863,68,37253956,14013719,14956253,2163804,...,-2.90,35.57,33.28,-0.79,48.54,5.21,7.14,-16.88,0.05,0

In [6]:
people.state_abbr.unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'PR'], dtype=object)

In [10]:
tn = people[people['state_abbr'] == 'TN']
tn.columns

Index(['GEOID', 'state_code', 'state_abbr', 'state_name', '2010_density',
       '2010_diversity_index', '2010_pop', '2010_pop_hisp',
       '2010_pop_white_non_hisp', '2010_pop_black_non_hisp',
       ...
       'prop_change_gq_inst_other', 'prop_change_gq_noninst',
       'prop_change_gq_noninst_college', 'prop_change_gq_noninst_military',
       'prop_change_gq_noninst_other', 'prop_change_hu',
       'prop_change_hu_occupied', 'prop_change_hu_vacant',
       'prop_change_land_area_sqmi', 'flag_prop_change_land_area'],
      dtype='object', length=188)

In [33]:
tn.2010_diversity_index

SyntaxError: invalid decimal literal (<ipython-input-33-66f833cf6192>, line 1)